.fdetails-flat {
    --fdetails-border: none;

    summary {
        padding: 0 0 var(--f-spacer-3) 0;
    }

    .fdetails_content {
        padding: 0;
    }
}

:root.theme-dark {
    .fdetails-flat {
        --fdetails-border: none;
    }
}
