<script setup></script>

<template>
    <div class="{{ lowerCase  (camelCase name) }}view">{{ pascalCase name }} page</div>
</template>

<style lang="scss">
.{{ lowerCase  (camelCase name) }}view {
}
</style>
