<script setup>
import {{ name }} from './{{ name }}.vue';
</script>

<template>
    <div class="playground_content">
        <div class="playground_example">
            <h2>Default</h2>
            <{{ name }} />
        </div>
    </div>
</template>
